*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* Sfondo */
.background{
    height: 150px;
    background-color: rgb(0, 200, 255);
    background-image: url(../img/pattern.png);
}
/* Fine sfondo */
/* Logo */
#logo{
    width: 150px;
    padding-top: 90px;
    padding-left: 10px;
}
/* Fine Logo */
/* Titolo */
h1{
    font-size: 60px;
    padding-left: 10px;
}
/* Fine Titolo */
/* Paragrafo1 */
p{
padding-left: 10px;
}

.color{
    color: grey;
}

.bool{
    color:#16a9e0;
}
/* Fine paragrafo1 */
/* Immagini */
.img1{
    padding-top: 15px;
    padding-left: 10px;
}

.img2{
    padding-top: 15px;
}
/* Fine immagini */
/* Paragrafo2 */
.paragraph{
    margin-top: 15px;
    font-size: 22px;
}

.frase{
    background-color: gold;
}
/* Fine paragrafo2 */
/* Lista */
.lista{
    margin-left: 20px;
    margin-top: 15px;
    font-size: 20px;
}
/* Fine Lista */
/* Tabella */
#tabella{
    width: 100%;
    border-collapse: collapse;
}

.table{
    padding-top: 15px;
}

.title{
    background-color: blue;
    color: white;
}

.riga1{
    background-color: #16a9e0;
}

.riga3{
    background-color: #16a9e0;
}
/* Fine Tabella */
/* Paragraph1 */
.paragraph1{
    margin-top: 15px;
    font-size: 22px;
}

.frase{
    background-color: gold;
}
/* Fine Paragraph1 */
/* Title1 */
h3{
    color: grey;
    padding-top: 30px;
    padding-left: 10px;
}
/* Fine Title1 */
/* Img footer */
.img-footer{
    background-image: url(../img/monitor.jpg);
    width: 250px;
    height: 200px;
    margin-top: 30px;
    margin-left: 10px;
    background-repeat: no-repeat;
    color: white;
}

.img-footer1{
    background-image: url(../img/graph.jpg);
    width: 250px;
    height: 200px;
    margin-top: 15px;
    margin-left: 10px;
    background-repeat: no-repeat;
}

.mid-title1{
    color: white;
}
/* Fine Img footer */
