*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* Sfondo */
.background{
    height: 150px;
    background-color: rgb(0, 200, 255);
    background-image: url(../img/pattern.png);
}
/* Fine sfondo */
/* Logo */
#logo{
    width: 150px;
    padding-top: 90px;
    padding-left: 10px;
}
/* Fine Logo */
/* Titolo */
h1{
    font-size: 60px;
    padding-left: 10px;
}
/* Fine Titolo */
/* Paragrafo */
p{
padding-left: 10px;
}

.bool{
    color:#16a9e0;
}
/* Fine paragrafo */
/* Immagini */
.img1{
    padding-top: 15px;
    padding-left: 10px;
}

.img2{
    padding-top: 15px;
}
/* Fine immagini */